@charset "utf-8";
*{
padding:0;
margin:0;
border:0;
     user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}
body{
	height:950px;
}
.header{
	position:relative;
	width:100%;
	height:90px;

	-webkit-box-shadow: 0px 3px 90px -19px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 90px -19px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 90px -19px rgba(0,0,0,0.75);
	z-index:5;
}
.bannerid
{
	margin-left:-350px;
	left:50%;
	padding:40px;
	font-size:70px;
	text-align:center;
	font-family: Josefin Sans;
	color:#3281ff;
	height:100px;
	position:absolute;
	width:600px;
}
.homeinfo
{
	width:100%;
	margin-top:150px;
	height:734px;
	position:relative;
	background-color:#3281ff;
	-webkit-box-shadow: inset 0px -1px 191px -100px rgba(0,0,0,0.93);
-moz-box-shadow: inset 0px -1px 191px -100px rgba(0,0,0,0.93);
box-shadow: inset 0px -1px 191px -100px rgba(0,0,0,0.93);
	
}
#col1 {
    display: inline-block;
    background-color:;
    width:calc(50% - 1px);
	height:400px;
	margin-top:100px;
	border-right: 1px solid white;
}
.pinfo
{
	font-size:44px;
	font-family:Josefin Sans;
	color:#3281ff;
	background-color:white;
	border-radius:50px;
	width:130px;
	
	margin:0 auto;
	margin-bottom:15px;
	text-align:center;
	
}
.pinfos
{
	font-size:23px;
	font-family:Josefin Sans;
	color:white;
	text-align:center;
	margin-bottom:5px;
	width:200px;
	
	margin:0 auto;
	
}
.pinfos:hover
{
	text-decoration:underline;
	
}
.main{
	background-color:white;
	width:100%;
	height:100vh;
	
}
.headli
{
	width:150px;
	height:50px;
	margin:13px;
	padding-top:15px;
	color:white;
	font-family:Josefin Sans;
	text-align:center;
	background-color:#3281ff;
	display:inline-block;
	font-size:28px;
	text-decoration:none;
	border-radius:9px;
	
}
a:link
{
	color:inherit;
	text-decoration:none;
}
.infop
{
	font-family:Josefin Sans;
	font-color:white;
	font-size:45px;
	color:white;
	text-align:center;
	position:relative;
	
}
a:visited
{
	color:inherit;
}


@keyframes epilepsy {
    from {
        background: darkblue;
        
    }
    to {
        background: blue;
        
    }
}

.content {
    
	height:calc(100% - 90px);
	position:absolute;
	width:100%;
	background:url(../images/snowflakes.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:1;
	
}
